.headerThirdPage {
  height: max(450px);
  background: url(../../../img/dest/bg/bg_thirdPage.webp) center top / cover no-repeat;
  .bg-body-tertiary {
    background: transparent !important;
  }
}

@media (max-width: 768px) {
  .headerThirdPage {
    height: 250px;
    background: url(../../../img/dest/bg/bg_thirdPage.webp) center center no-repeat;
    .bg-body-tertiary {
      background: transparent !important;
    }
  }
}
