@import "./promo/promo.scss";
@import "./aboutUs/aboutUs.scss";

.aboutGoods {
  height: auto;
  padding: 80px 0 110px 0;
  background: url(../../../img/dest/bg/bg_paper.webp) center top / cover no-repeat;
}
