@import "./variables.scss";
@import "./devider.scss";

@import "../components/pages/mainPage/mainPage.scss";

* {
  font-family: Merienda;
}

.subheader {
  margin-top: 25%;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
